body {
    margin: 0;
    padding: 0;
    font-family: 'PT Sans', Helvetica, Arial, Sans-serif;
}
  
#map {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 800px;
}

#console {
    position: absolute;
    width: 400px;
    margin: 10px;
    padding: 10px 20px;
    padding-right: 35px;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 5px;
    z-index: 5;
}

.session {
    margin-bottom: 15px;
}

.marker {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    cursor: pointer;
    text-align: center;
}

/* styling for drought icon */
.marker-icon {
    width: 17px;
    height: 17px;
    vertical-align: text-top;
    margin-top: 3px;
}

.human {
    background-color: #dd8a3e;
}

.natural {
    background-color: #2f8fce;
}

.unsure {
    background-color: #999999;
}

.marker i {
    color: white;             
    margin-top: 7px;
    font-size: 15px;
}